.App {
  text-align: center;
  padding-top: 100px;
  background-color: #001d3d;
  height: 100vh;
}
.title{
  color: #ffd60a;
  font-size: 50px;
}

.input-place{
  font-size: 40px;
  border: #001d3d;
  
}
.place{
  display: flex;
  justify-content: center;
}
.btn-one{
  width:66px; 
  height:56px;
  background-color: #ffc300;
 font-size: large;
}

.btn-one:hover{
background-color: #ffd60a;
cursor: pointer;
}
.btn-2{
  background-color: #3c6e71;
  margin-left: 20px;
  color: white;
}
.btn-2:hover{
  background-color: #84a98c;
  cursor: pointer;
  }

.task-place{
  display: flex;
  justify-content: center;
}

